{% extends 'base.html' %}

{% block content %}
<div class="row">

<a href="/post/create" class="btn btn-primary">Tengo algo que decir...</a> <br/><br/>
</div>
{% for post in posts %}
  <div class="jumbotron post">
    <a href="{{ post.get_absolute_url }}">
      <img src="{{ post.media_url }}" alt="{{ post.title }}"/>
      <h3>{{ post.title }}</h3>
    </a>
    <div>
        <a href="{{ post.get_absolute_url }}/like">
            <span class="glyphicon glyphicon-heart"></span> {{ post.likes|default:"0" }}
        </a>
        &nbsp;
        <a href="{{ post.get_absolute_url }}">
            <span class="glyphicon glyphicon-comment"></span> {{ post.comment_count|default:"0" }}
        </a>
    </div>
    <em class="pull-right">{{ post.date|timesince }} ago</em>
  </div>
{% empty %}
    No se han encontrado publicaciones
{% endfor %}

{% endblock content %}